<div class="fixed inset-0 z-50 overflow-y-auto">
  <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      (click)="onCancel()"
    ></div>
    <div
      class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
    >
      <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
        <div class="sm:flex sm:items-start">
          <div
            [ngClass]="{
              'mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full sm:mx-0 sm:h-10 sm:w-10': true,
              'bg-red-100': isDangerous,
              'bg-blue-100': !isDangerous,
            }"
          >
            <svg
              class="h-6 w-6"
              [ngClass]="{
                'text-red-600': isDangerous,
                'text-blue-600': !isDangerous,
              }"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v3.75m-9.303 1.677A9.75 9.75 0 0020.303 15.75M12 15a3 3 0 100-6 3 3 0 000 6z"
                *ngIf="!isDangerous"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v3.75m9.303 1.677A9.75 9.75 0 003.697 15.75M12 15a3 3 0 11-6 0 3 3 0 016 0z"
                *ngIf="isDangerous"
              />
            </svg>
          </div>
          <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
            <h3 class="text-base font-semibold leading-6 text-gray-900">
              {{ title }}
            </h3>
            <div class="mt-2">
              <p class="text-sm text-gray-500">
                {{ message }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
        <button
          [ngClass]="{
            'btn w-full sm:ml-3 sm:w-auto': true,
            'btn-danger': isDangerous,
            'btn-primary': !isDangerous,
          }"
          (click)="onConfirm()"
        >
          {{ confirmText || 'Confirm' }}
        </button>
        <button
          type="button"
          class="btn-secondary btn mt-3 w-full sm:mt-0 sm:w-auto"
          (click)="onCancel()"
        >
          {{ cancelText || 'Cancel' }}
        </button>
      </div>
    </div>
  </div>
</div>
